{{ $length := len .GroupLabels -}} {{ if ne $length 0 }}
<b>Grouped for:</b>
{{ range $key,$val := .GroupLabels -}}
    <b>{{ $key }}</b> = <code>{{ $val }}</code>
{{ end -}}
{{ end -}}

{{ if eq .Status "firing"}}
Status: <b>{{ .Status | str_UpperCase }} 🔥</b>
{{ end -}}

{{ if eq .Status "resolved"}}
Status: <b>{{ .Status | str_UpperCase }} ✅</b>
{{ end -}}

<b>Active Alerts List:</b>
{{- range $val := .Alerts }}
<b>---</b>
  {{ $severity := index $val.Labels "severity" -}}
  {{ if eq $severity "warning" -}}
  <b>Severity:</b> Warning ⚠️
  {{ else if eq $severity "critical" -}}
  <b>Severity:</b> <code>CRITICAL</code> 🚨
  {{ else -}}
  <b>Severity:</b> {{ $severity }}
  {{ end -}}

  {{ range $key, $value := $val.Annotations -}}
  <b>{{ $key }}:</b> {{ $value }}
  {{ end -}}
  <b>Active from:</b> {{ $val.StartsAt | str_FormatDate }}
{{- end -}}
